/*Hoja de estilo ejercicio 2*/

body{
    background-color: aquamarine;
    border-color:black;
    border-width: 2px;
    border-style:dotted;
    border-radius: 30%;
    /*background: url(../imagenes/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}

div{
    background-color: burlywood;
    border:
}

span{
    background: brown;
    border: 4px solid blue;
}

p{
    color:blue
}

div p{
    color: antiquewhite;
}

